<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset your Password, <%= @user.name %></h1>
    <p>
      To reset password for the site, just follow this link: <%= reset_password_user_url(@user,@set_password_token) %>.
    </p>
  </body>
</html>
