<% provide(:title, "Edit Client") %>
<h1>Update client</h1>

<div class="row">
  <div class="span6 offset3">
  	<%= form_for(@client) do |f| %>
      <%= collection_select(:client, :owner_id, @client.users, :id, :name) %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
