<% provide(:title, '') %>
<div class="center hero-unit">
  	<h1>Live Chat</h1>

  	<h2>Filler homepage for my live chat app!</h2>

  	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>